body{
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	line-height: 20px;
}
header{
	background-color: #D35400;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

h1, h2{

	font-family:'Permanent Marker', cursive;
}

header h1{
	color: white;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 50px;
}

header img{
	border-radius: 150px;
    width: 300px;
    border: 5px solid #F7DC6F;
}

main{
	max-width: 800px;
	margin: 0 auto; 
	padding: 20px
}

main img{
	max-width: 100%;

}

h2{
	font-size: 30
	px:;
	color: #138D75;
	margin: 40px 0 10px;
}
a{
	color: #F5B7B1;
}

a:hover{
	color: #212F3D;
	background: #808B96;
}

footer{
	background-color: #D35400;
	text-align: center;
	color: white;
	padding: 50px;	

}

footer a{ 
	margin: 0;
 }

footer a{
	color:white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;

}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}